[global]
   workgroup = WORKGROUP
   server role = standalone server
   server string = {{ inventory_hostname | replace('.foxnet', '') }} file server
   netbios name = {{ inventory_hostname | replace('.foxnet', '') }}
   security = user
   map to guest = Bad User
   dns proxy = no

[filestore]
   path = /home/foxleigh81/shares/filestore
   browseable = yes
   read only = no
   guest ok = yes

[appdata]
   path = /home/foxleigh81/shares/appdata
   browseable = yes
   read only = no
   guest ok = yes